@using ToDoClient.Solution.Models;
@model ToDoClient.Solution.Models.ToDo;

@if(User.Identity.IsAuthenticated)
{
  var result = ToDo.GetToDos();
  
  <ul id="AddList">
    @foreach(ToDo toDo in result)
    {
      <li>@Html.ActionLink(@toDo.Name, "Details", new { id = @toDo.ToDoId })</li>
    }
  </ul>
}