@using ToDoClient.Solution.Models

<h2>To-Dos</h2>
<br>
<div class="box todo-box">
<div class="row">
  <div class="col-3">
    <img src='https://i.pinimg.com/originals/c6/bb/a2/c6bba251b6139139fed212537c56a378.png' class="image-box" />
  </div>
  <div class="col-9">
  <table class="table">
    <tr>
      <th>Name &emsp;</th>
      <th style="text-align:right">PP</th>
    </tr>
    <tr colspan="2">
      <td colspan="2">Category</td>
    </tr>
    <tr colspan="2">
      <td colspan="2">Description</td>
    </tr>
  </table>
  </div>
  <br>
</div>
</div>
<a href='@Url.Action("Add")'><button class="btn btn-primary">Add a ToDo to your roster!</button></a>