<h2 align=center>Welcome to your</h2>
<h1 align=center>ToDodex</h1>
<br>
<span class="row justify-content-center">
  <a href='@Url.Action("Add","ToDos")'><button class="w3-button w3-border w3-hover-indigo">View the ToDokedex!</button></a>
</span>
<img id="homeImg" src="https://cdn.discordapp.com/attachments/1011292802468032512/1012094506360909876/Keral.png">