<style> body { background-image: url(https://cdn.discordapp.com/attachments/1011292802468032512/1012138817324601435/pokedex.png); background-repeat: no-repeat; background-size: cover; background-size: 100% 100%; } .container { background: transparent; } </style>
<div class="add-font"></div>
<h2 align=center>Welcome to your</h2>
<h1 align=center>ToDodex</h1>
</div>
<br>
<span class="row justify-content-center">
  <a href='@Url.Action("Add","ToDos")'><button  class="w3-button w3-border w3-hover-indigo">View the ToDokedex!</button></a>
</span>

<!-- no-repeat center cover  -->