<h2 align=center>Welcome to your</h2>
<h1 align=center>ToDokedex</h1>
<span class="row justify-content-center">
  <a href='@Url.Action("Add","ToDos")'><button class="btn btn-primary">View the ToDokedex!</button></a>
</span>