@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

button { 
  padding: 3px;
  border: transparent 3px;
  border-radius: 10px;
  margin: 3px;  
  background-color: #029ACF;
  color: white;
}

.btn {
  padding: 3px;
  padding-left: 15px; padding-right: 15px;
  border: transparent 3px;
  margin: 3px;  
  background-color: #029ACF;
  color: white;
}

.btn-primary:hover {
  background-color: #00698f;
}

.btn-header {
  background: transparent;
  color: #777;
  font-size: 28px;
}

.btn-header:hover {
  color: #d9230f;
}

.btn-danger {
  background-color: #d9230f;
}

.btn-danger:hover {
  background-color: #921507
}

.login {
  position: absolute;
  margin: 14px;
  top: 0;
  right: 0;
}

.container { 
  box-sizing: border-box;
  border-radius: 20px;
  align-items: flex-end; 
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 100%;
  min-height: 100vh;
  margin-top: 20px;
  padding: 2%;
}

.jumbotron {
  height: 8%;
  padding-top: 8px; padding-bottom: 6px;
  padding-left: 12px; padding-right: 12px;
  margin-bottom: 0px; margin-top: 18px;
  margin-left: 10%; margin-right: 10%;
  background-color: #fff;
  border: 1.5px solid #029acf;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.navbar, .navbar h2 {
  font-family: 'Silkscreen', cursive;
  font-weight: bold;
  background-color: #fff;
  margin-bottom: 0px;
  text-decoration: none;
  padding: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar h2 {
  font-family: 'Silkscreen', cursive;
  font-weight: bold;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #444;
}

table {
  float: left;
  display: table;
  border-color: grey;
  box-sizing: content-box;
  width: 50%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #777;
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid #228b22;
  display: table-cell;
  font-weight: bold;
  text-align: left;
  color: #777;
  font-family: 'Silkscreen', cursive;
}

td {
  color: #777;
  font-family: 'Helvetica';
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  color: #777;
}

body {
  color: forestgreen;
  background-color: slateblue;
}

textarea {
  color: #777;
}

select {
  font-size: 64px;
}

table, td, th {
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 10px;
  background-color: #fff;
  border-spacing: 0 !important;
  padding: 4px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.box {
  border: 5px solid #228b22;
  border-radius: 25px;
  padding: 2%;
  background-color: #7ebf60;
}

.image-box {
  border: 5px solid #228b22;
  border-radius: 15px;
  width: 218px;
  background-color: #999;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  margin-bottom: 0px;
}

.header {
  font-weight: bold;
}

nav a, input {
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-weight: 100;
}

nav ul {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 100;
}

nav ul li {
  display: inline-block;
}
nav ul li:hover { background: #ddd; }
nav ul li:hover > ul { display: block; }
nav ul li ul {
  position: absolute;
  min-width: 240px;
  width: auto;
  display: none;
}
nav ul li ul li {
  background: #ddd;
  display: block;
  padding: 8px;
}
nav ul li ul li a { display: block !important; }
nav ul li ul li:hover { background: #ccc; }
nav ul ul ul li {
	position: relative;
	top:-70px; 
	left:231px;
}

.link {
  color: #029ACF;
  border: none;
  background-color: transparent;
  outline: none;
}

.link:hover {
  color:#029ACF;
  text-decoration: none;
}

#AddList{
  column-count: 4;
  column-gap: 20px;
}

#failedLogin{
  color: #d9230f;
}

#ToDoList{
  font-family: 'Silkscreen', cursive;
  text-align: center;
  color: purple;
  width: auto;
  padding: 2px;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

#homeButton{
  display: block;
  margin: auto;
}

#homeImg{
  display: block;
  margin: auto;
  margin-top: 1%;
  width: 45%;
  height: auto;
}

.gamerNumbers {
  text-align: left;
  font-size: 20px;
  font-family: 'Silkscreen', cursive; 
  font-weight: bolder;
  color: black;
  text-transform: uppercase;
}

.property{
  text-align: left;
  font-size: 20px;
  font-family: 'Silkscreen', cursive; 
  font-weight: bolder;
  color: red;
  text-transform: uppercase;
}

.gamerHeader {
  text-align: center;
  font-family: 'Silkscreen', cursive; 
  font-weight: bold;
}

.table {
  float: left;
}

.gamerCard {
  background-color: white;
  border-radius: 1rem;
  border: solid black;
  margin: auto;
  display: block;
  text-align: center;
  width: 50%;
}

.gamerList{
  text-align: center;
  margin: 10px;
}

.w3-button {
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

#save-button {
  color: slateblue;
  background-color: white;
  font-family: 'Silkscreen', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 1rem;
}

#save-button1 {
  float: right;
  margin-left: 65%;
  margin-top: 10%;
  display: flex;
  outline: 5px solid #444;
  border: 5px solid #444;
  color: #444;
  background-color: #7ebf60;
  font-family: 'Silkscreen', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 20px;
  word-wrap: break-word;
  width: 30%;
}

#save-button1:hover {
  color: #7ebf60 !important;
  background-color: #444 !important;
}

.add-font {
  width: 40%;
  float: right;
  margin-right: -10%;
  margin-top: 160px;
  display: flex;
  align-items: center;
  font-family: 'Silkscreen', cursive;
  font-weight: bolder;
}

#logImg{
  display: block;
  margin: auto;
}

#logText{
  text-align: center;
}
#kerl{
  display: inline;
  width: 250px;
  height: auto;
  float: right;
  margin-top: -4%;
}

.title h2 {
  font-family: 'helvetica' !important;
  font-weight: bolder;
}