@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoDex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("Header")
    <hr />
    <div class="container">
        @RenderBody()
    </div>
    <hr />
</body>
</html>
