<nav class="navbar sticky-top navbar-expand-lg justify-content-start">
  <h2>ToDoDex&emsp;</h2>
  <a href='@Url.Action("Index", "Home")'><button class="btn btn-header header">Home</button></a>
  <a href='@Url.Action("Index", "ToDos")'><button class="btn btn-header header">View ToDos</button></a>
  <ul><li>
    <a class="header">Account</a>
    <ul>
      <li><a href='@Url.Action("Log In", "Accounts")' class="link">Log In</a></li>
      <li><a href='@Url.Action("Register", "Accounts")' class="link">Register</a></li>
    </ul>
  </li></ul>
</nav>