<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6b4168f7-d352-4ffa-b715-659b080530d5/resourceGroups/DefaultResourceGroup-USW3/providers/Microsoft.Web/sites/APITODODEX</ResourceId>
    <ResourceGroup>DefaultResourceGroup-USW3</ResourceGroup>
    <ApiResourceId>/subscriptions/6b4168f7-d352-4ffa-b715-659b080530d5/resourceGroups/DefaultResourceGroup-USW3/providers/Microsoft.ApiManagement/service/todoapimgmt/apis/todoapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apitododex.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9926c063-1eb9-4607-9dd9-6342b0973a4b</ProjectGuid>
    <MSDeployServiceURL>apitododex.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APITODODEX</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APITODODEX</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>